body{
    margin: 0;
    
    
}
 
nav a, .titulo{
    font-weight: bold;
    list-style: none;
   
}
nav a:hover{
    text-decoration: none;
}
.navbar{
    z-index: 100;
    background: #232323;
    
}


.pokecard{
    display: flex;
    justify-content: center;
    border-radius: 5%;
    margin: 10px 20px 20px 60px;
}